:root {
	--color1: #2d8d79;
	--color2: #8fc79a;
	--color3: #5e9387;
	--color4: #cee9b6;
	--color5: #15141e;
  }

* {
	/* border: 1px solid red; */
	margin: 0;
	padding: 0;
}
body {
	margin: auto;
	background-color: var(--color5) !important;
	/* text-align: center; */
	/* display: flex;
	justify-content: center;
	align-items: center; */
}
h1 {
	font-family:fantasy !important;
	font-weight: 500 !important;
}
p,h1,h5 {
	color: var(--color3);
}
.win {
	font-size: 1.5rem;
	font-weight: 500 !important;
}
#guess-number {
	/* font-style: italic; */
	font-size: 1rem;
	/* border: red solid 2px; */
	color: beige;
	font-weight: 700 !important;
	background-color: var(--color3);
	/* border: 0px solid; */
}
#btn-check {
	background: #1e7731 !important;
	font-weight: 500 !important;
	/* border:1px; */
}
#btn-again {
	background: #9b3d34 !important;
	font-weight: 500 !important;
}
.container {
	/* margin:  15vh auto; */
	margin-top:  15vh;

	text-align: center;
	/* display: block; */
	/* background-color: rgb(243, 234, 234); */
	background-color: var(--color4) !important;
	border-radius: 20px;
	padding: 40px 10px;
}
.clue {
	padding: 40px;
	display: flex;
	justify-content: center;
	gap: 1vw;
}
.clue p {
	/* padding-top: 5px; */
	padding: 5px 15px 5px 5px;
	border-top: 1px solid rgb(62, 62, 62);
	border-bottom: 1px solid rgb(62, 62, 62);
	border-right: 1px solid rgb(62, 62, 62);
	border-radius:  0px 15px  15px  0px ;
}
.koral {
	/* display: flex; */
	justify-content: center;
	gap: 2vw;
}
.lives {
	/* border: 1px solid red; */
	text-align: right;
	/* position: relative; */
	/* right: 1%; */
	/* margin-right: 10px */
}


/* @include media-breakpoint-only(sm) {
	body {
	  background-color: lightblue !important;
	}
	.container {
		width: 10px !important;
		background-color: rgb(238, 0, 255) !important;
	}
  } */

/* @include media-breakpoint-up(sm) {
.custom-class {
	display: block;
}
} */

@media (max-width: 850px) { 
	.koral{
		display: block;
	}
	  h1{
		  font-size:25px !important;
	  }
	  h5{
		  font-size: smaller !important;
	  }
	  p{
		  font-size: smaller !important;
	  }
	  .below-section {
		  /* gap: 3px !important; */
		  display: flex;
		  /* flex-wrap: wrap; */
		  justify-content: space-around;
	  }
	  .container {
		/* background-color: rgb(230, 173, 173) !important; */
		  /* margin: 10px !important; */
		  width: 90vw !important;
	  }
 }

 @media (max-width: 850px) {
	#lives img{
		border: red solid 2px;
		width: 40px;
		height: 40px;
	}
 }